<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="stats">
        <%= render 'users/user' %>
      </section>
      
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
    	<h3>Micropost Feed</h3>
    	<%= render 'shared/feed' %>
    </div>
  </div>
<% else %>