<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_name"><strong><%= comment.user.email %></strong></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> ago</p>
    <p class="comment_body"><%= comment.content %></p>
    
  </div>

  <% if user_signed_in? && (current_user.id == comment.user_id) %>
  <p><%= link_to 'Delete', [comment.entry, comment],
                  method: :delete,
                  class: "button",
                  data: { confirm: 'Are you sure?' } %></p>

  <% end %>
</div>