<h1 id="page_title">All Entries</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% @entries.each do |entry| %>
		<div class="post">
			<p class="date"><%= entry.created_at.strftime('%A, %B %d') %></p>
			<h2><a href="#"><%= link_to entry.title, entry %></a></h2>
			<hr>
		</div>
	<% end %>
</div>

	<%= will_paginate @entries %>
